<section class="intro">
  <div class="row">
    <div class="col-md-12 text-center">
      <!-- <div class="intro-content"> -->
      <div class="jumbotron">
        <h1 class="text-danger">AnDjob</h1>
        <p>一份好工作，給 藝術 / 設計 工作者的你。</p>
      </div>
      <!-- </div> -->
    </div>
  </div>
</section>

<div>
  <div>
    <a href="/jobs" class="btn btn-default btn-lg btn-block">

    <p class="text-primary"><em>&gt&gt瀏覽職缺<em></p></a>
  </div>
</div>

<!-- <div class="jumbotron">
  <h1>Jumbotron</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div> -->



<!-- <header class="container-fluid" style="margin-top: 15px;">
  <h1>AnDjob</h1>
    <p class="lead">一份好工作，給藝術/設計工作者的你。</p>
    <p><a class="btn btn-primary"href="/jobs">開始瀏覽職缺</a></p>
</header> -->

<!-- <div class="container red topBotomBordersOut">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container purple topBotomBordersIn">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container indigo topLeftBorders">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container blue circleBehind">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div> -->

<div class="container cyan brackets">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<!-- <div class="container teal borderYtoX">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container green borderXwidth">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container lightGreen pullDown">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container lime pullUp">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container yellow pullRight">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container amber pullLeft">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<div class="container orange pullUpDown">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div> -->

<div class="container deepOrange pullRightLeft">
  <a>HOME</a>
  <a>ARTICLES</a>
  <a>PORTFOLIO</a>
  <a>ABOUT</a>
  <a>CONTACT</a>
</div>

<!-- <div class="container brown highlightTextOut">
  <a alt="HOME">HOME</a>
  <a alt="ARTICLES">ARTICLES</a>
  <a alt="PORTFOLIO">PORTFOLIO</a>
  <a alt="ABOUT">ABOUT</a>
  <a alt="CONTACT">CONTACT</a>
</div>

<div class="container gray highlightTextIn">
  <a alt="HOME">HOME</a>
  <a alt="ARTICLES">ARTICLES</a>
  <a alt="PORTFOLIO">PORTFOLIO</a>
  <a alt="ABOUT">ABOUT</a>
  <a alt="CONTACT">CONTACT</a>
</div> -->
