/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.opacity{
  -webkit-filter:opacity(.2);
}

//--=搜索框=--
.form-group {
    margin-bottom: 0px;
    margin-top: 0px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 225px; //加上width
}
//--=搜索框=--

/*===== intro ====*/
.intro{
height: 600px;
background: url(http://ww1.sinaimg.cn/large/006tNbRwgy1fez6o375xij31kw11xkjl.jpg) no-repeat scroll top center/cover; -webkit-filter:opacity(.7);

padding-top: 210px;
margin-top: -21px;

text-align: center;

}

//--=表格=--
.custab{


  padding: 5px;
  margin: 5% 0;
  box-shadow: 2px 2px 1px #2b2527;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}
//--=表格=--

// --common--
.col-centered {
  float: none;
  margin: 0 auto;
}
