<footer class="container-fluid" style="margin-top: 20px;">
  <div>
    <div class="circleBehind">
    <div class="container-lk2">
      <div class="col-lg-12">
        <a href="#top"><span class="fa fa-angle-double-up"></span></a>
      </div>
    </div>
    </div>
  </div>




  <div class=" col-centered">

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <ul>
        <p>關於AnDjob</p>
        <a href="https://fullstack.xinshengdaxue.com/works/301" target=_new>問題回報</a>
        <br />
        <a href="http://rswong-blog.logdown.com/posts/1724806" target=_new>開發記錄</a>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <ul>
        <p>
        <a><%= link_to("回到首頁", root_path)%></a>
        <br />
        <a href="/jobs">瀏覽所有工作</a>
        </p>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <ul>
        <p>社群媒體分享</p>
        <a href="https://github.com/rs7wong/" target=_new><i class="fa fa-github"></i></a>
        <a href="https://twitter.com/" target=_new><i class="fa fa-twitter"></i></a>
        <a href=“https://www.facebook.com/” target=_new><i class=" fa fa-facebook"></i> </a>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <ul>
        <p>©2017 <span class="logo">AnDjob</span> 版權所有</p>

      </ul>
    </div>
  </div>
</footer>



        <!-- <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
              <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
              <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
              <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
              <li><a href="../help/#api">API</a></li>
              <li><a href="../help/#support">Support</a></li>
            </ul>
            <p>Made by <a href="http://thomaspark.co" rel="nofollow">Thomas Park</a>. Contact him at <a href="/cdn-cgi/l/email-protection#daaeb2b5b7bba99ab8b5b5aea9adbbaeb9b2f4b9b5b7"><span class="__cf_email__" data-cfemail="f5819d9a989486b5979a9a8186829481969ddb969a98">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></a>.</p>
            <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
            <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

          </div>
        </div> -->

</footer>
